// Custom Bootstrap theme
// skekCoon 0.0.1


/*-- scss:defaults --*/

// Color Palette

$white:    #fff    !default;
$gray-300: #dee2e6 !default;
$gray-500: #7091b3 !default;
$gray-700: #375b80 !default;
$gray-900: #122f4C !default;
$black:    #021733 !default;

$antique-white: #f2e6d8 !default;
$hunter-green:  #395941 !default;
$black-forest:  #054009 !default;
$pumpkin-spice: #F27329 !default;

$primary:   $gray-500      !default;
$secondary: $gray-900      !default;
$success:   $hunter-green  !default;
$info:      $gray-300      !default;
$warning:   $pumpkin-spice !default;
$danger:    $black-forest  !default;
$light:     $black-forest  !default;
$dark:      $gray-900      !default;

// Background & text

$body-bg:    $antique-white   !default;
$body-color: $black           !default;


/*-- scss:rules --*/

// Typography

body {
  -webkit-font-smoothing: antialiased;
}

// Navbar

.navbar {
  Background-color: $antique-white !important;
}

.nav-link {
  color: $black !important;
  font-weight: 800;
  
  &:hover {
    background-color: $black-forest !important;
  }
}
